/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1.5em;
  height: 100%;
}

.espace {
  height: 500px;
}

.invisible {
  display: none;
}

p {
  font-size: 100%;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

h2 {
  font-size: 3.75em;
  font-weight: 300;
  font-variant: small-caps;
}

h2 strong {
  font-weight: 500;
}

h3 {
  font-size: 2.625em;
  font-weight: 200;
  margin-bottom: .8em;
  font-variant: small-caps;
}

h3 strong {
  font-weight: 400;
}

h4 {
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: .5em;
}

@media screen and (min-width: 725px) {
  h2 {
    font-size: 5em;
  }
  h3 {
    font-size: 3.4375em;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4.375em;
  background-color: #f0ede9;
  -webkit-box-shadow: 0 1px 2px #0000003d;
          box-shadow: 0 1px 2px #0000003d;
}

.firstSection {
  margin-top: 4.375em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 0;
}

.logoCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5em;
  height: 100%;
  background-color: #dead65;
}

.logoCont h1 {
  height: 100%;
  margin-top: .8em;
}

.bannerSvg {
  display: none;
  fill: #dead65;
}

.logomel {
  height: 85%;
  -ms-grid-column-align: end;
      justify-self: end;
  fill: white;
}

.menuButton button {
  border: none;
  font-size: 38px;
  background-color: transparent;
  padding: 0;
}

nav {
  position: fixed;
  right: calc( -100vw + 7.5em);
  top: 4.375em;
  z-index: 1;
  background-color: #f0ede9;
  height: 100%;
  text-transform: uppercase;
  -ms-grid-column-align: end;
      justify-self: end;
  width: calc(100vw - 7.5em);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.showNav {
  -webkit-transform: translateX(calc( -100vw + 7.5em));
      -ms-transform: translateX(calc( -100vw + 7.5em));
          transform: translateX(calc( -100vw + 7.5em));
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: right;
}

.menu li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 100%;
  font-size: 1.25em;
  padding: 0.6em 1.25em 0.6em 0;
}

.menu li a:hover {
  background-color: #dead65;
}

.menu .menu-separator {
  display: none;
}

.menu .currentNav {
  background-color: #dead65;
  font-weight: 500;
}

@media screen and (max-height: 350px) {
  nav {
    width: 10.625em;
  }
  .menu li a {
    font-size: 1.125em;
    padding: 0.66667em 0.66667em;
  }
}

@media screen and (min-width: 415px) {
  nav {
    right: -13.75em;
    width: 13.75em;
  }
  .showNav {
    -webkit-transform: translateX(-13.75em);
        -ms-transform: translateX(-13.75em);
            transform: translateX(-13.75em);
  }
}

@media screen and (min-width: 801px) {
  header {
    height: 6.25em;
  }
  .header {
    padding-left: 1.5em;
  }
  .firstSection {
    margin-top: 6.25em;
  }
  .logoCont {
    width: 10em;
    position: relative;
  }
  .bannerSvg {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1.5625em;
  }
  nav {
    position: static;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    width: unset;
    height: unset;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .menuButton {
    display: none;
  }
  .menu li {
    display: inline;
    font-weight: 400;
  }
  .menu li a {
    padding: 0.3125em;
    display: inline;
    font-size: 0.75em;
  }
  .menu li a:hover {
    background-color: unset;
    color: #dead65;
  }
  .menu .menu-separator {
    display: unset;
  }
  .menu .currentNav {
    background-color: unset;
    color: #dead65;
  }
  .showNav {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.intro {
  padding-bottom: 1.25em;
  height: 12.5em;
  background-size: cover;
  background-position-y: center;
}

.intro h2 {
  color: white;
}

.flexIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.coords {
  padding: 7.5em 0;
}

.flexCoords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexCoords a {
  color: black;
  text-decoration: none;
}

.flexCoords a:hover > .coord .picto {
  -webkit-animation: butHover 0.5s;
          animation: butHover 0.5s;
}

@-webkit-keyframes butHover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  75% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes butHover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  75% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 11.875em;
  max-width: 13.75em;
  text-align: center;
}

article .picto {
  padding: 0.9375em;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article .picto img {
  width: 5em;
}

article h3 {
  font-size: 1.125em;
  margin: 0.83333em 0;
  font-weight: 500;
  font-variant: normal;
}

article p {
  font-weight: 300;
  padding-bottom: 0.625em;
  margin-bottom: 0;
}

.form {
  padding-bottom: 7.5em;
}

.field {
  position: relative;
  margin-bottom: 1.375em;
}

.field label {
  position: absolute;
  left: 0.3125em;
  top: 0.5em;
  padding: 0.3125em 0.3125em 0 0.3125em;
  color: #b2b2b2;
  -webkit-transition: font-size 0.1s, -webkit-transform 0.1s;
  transition: font-size 0.1s, -webkit-transform 0.1s;
  -o-transition: transform 0.1s, font-size 0.1s;
  transition: transform 0.1s, font-size 0.1s;
  transition: transform 0.1s, font-size 0.1s, -webkit-transform 0.1s;
}

.field input {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  height: 2.5em;
  padding-left: 0.625em;
}

.field textarea {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  padding: 0.4375em;
  height: 14.125em;
  resize: vertical;
}

.field input, .field textarea {
  width: 100%;
  border: 0.125em solid #b2b2b2;
  border-radius: 0.25em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.field input:hover, .field textarea:hover {
  border-color: #b67c27;
}

.field input:hover + label, .field textarea:hover + label {
  color: black;
}

.field input:focus, .field textarea:focus {
  border-color: #dead65;
  outline: none;
}

.field input:focus + label, .field textarea:focus + label {
  color: black;
  -webkit-transform: translateY(-1.5em);
      -ms-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
  background-color: white;
  font-size: 0.75em;
  -webkit-transition: font-size 0.1s, -webkit-transform 0.1s;
  transition: font-size 0.1s, -webkit-transform 0.1s;
  -o-transition: transform 0.1s, font-size 0.1s;
  transition: transform 0.1s, font-size 0.1s;
  transition: transform 0.1s, font-size 0.1s, -webkit-transform 0.1s;
}

.field input:valid + label, .field textarea:valid + label {
  color: black;
  -webkit-transform: translateY(-1.5em);
      -ms-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
  font-size: 0.75em;
  background-color: white;
  -webkit-transition: font-size 0.1s, -webkit-transform 0.1s;
  transition: font-size 0.1s, -webkit-transform 0.1s;
  -o-transition: transform 0.1s, font-size 0.1s;
  transition: transform 0.1s, font-size 0.1s;
  transition: transform 0.1s, font-size 0.1s, -webkit-transform 0.1s;
}

.submit {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  color: white;
  border: none;
  background-color: #dead65;
  -webkit-box-shadow: 0 0.16667em 0 #b67c27;
          box-shadow: 0 0.16667em 0 #b67c27;
  padding: 0.625em 1.04167em;
  border-radius: 0.20833em;
}

.submit:hover {
  background-color: #e7c38f;
  -webkit-box-shadow: 0 0.16667em 0 #d5973b;
          box-shadow: 0 0.16667em 0 #d5973b;
}

.submit:active {
  background-color: #d5973b;
  -webkit-box-shadow: 0 0.16667em 0 #8c5f1e;
          box-shadow: 0 0.16667em 0 #8c5f1e;
}

.contactMsg {
  background-color: #f0ede9;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.contactMsg .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactMsg .retrouvez p {
  font-size: 1.875em;
  font-variant: small-caps;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1em;
}

.contactMsg .socButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.contactMsg .socButtons a {
  margin-right: 1em;
}

.contactMsg .socButtons .picto {
  width: 4.6875em;
}

.contactMsg .socButtons .picto:hover {
  -webkit-animation: butHover 0.5s;
          animation: butHover 0.5s;
}

.contactMsg .socButtons img {
  width: 100%;
}

.contactMsg p {
  font-size: 1.4375em;
  text-align: center;
  margin-top: 1.5em;
}

.contactMsg p span {
  color: #dead65;
  font-weight: 700;
}

.mapBg {
  height: 12.5em;
  background-position-x: center;
  background-size: cover;
}

@media screen and (min-width: 725px) {
  .intro {
    height: calc(100vh - 27em);
  }
  .flexCoords {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .formContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.75em;
    margin-bottom: 1.375em;
  }
  .fieldsGroup {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .field:last-child {
    margin-bottom: 0;
  }
  .message, .message textarea {
    height: 100%;
  }
  .submit {
    padding: 0.20833em 0.625em;
  }
  .contactMsg .retrouvez p {
    margin-bottom: 1.5em;
  }
  .contactMsg .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5em;
  }
  .contactMsg .flex .retrouvez {
    margin-right: 1em;
  }
  .contactMsg .socButtons {
    margin-bottom: 0;
  }
  .mapBg {
    height: calc(100vh - 10.375em);
  }
}

footer {
  -webkit-box-shadow: 0 -1px 2px #0000003d;
          box-shadow: 0 -1px 2px #0000003d;
  background-color: #f0ede9;
  padding: 0.9375em 0;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer p {
  display: inline-block;
  margin: 0;
}

.textFooter {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 0.75em;
}

.footButton {
  font-size: 1.5em;
  text-align: center;
}

.footButton a {
  color: black;
  margin-left: 0.4375em;
}

.footButton a:hover {
  color: #dead65;
}

@media screen and (max-width: 390px) {
  .textFooter {
    font-size: 0.625em;
  }
  .footButton {
    font-size: 1em;
  }
  .footButton a {
    margin-left: 0.625em;
  }
}
/*# sourceMappingURL=contact.css.map */