/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1.5em;
  height: 100%;
}

.espace {
  height: 500px;
}

.invisible {
  display: none;
}

p {
  font-size: 100%;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

h2 {
  font-size: 3.75em;
  font-weight: 300;
  font-variant: small-caps;
}

h2 strong {
  font-weight: 500;
}

h3 {
  font-size: 2.625em;
  font-weight: 200;
  margin-bottom: .8em;
  font-variant: small-caps;
}

h3 strong {
  font-weight: 400;
}

h4 {
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: .5em;
}

@media screen and (min-width: 725px) {
  h2 {
    font-size: 5em;
  }
  h3 {
    font-size: 3.4375em;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4.375em;
  background-color: #f0ede9;
  -webkit-box-shadow: 0 1px 2px #0000003d;
          box-shadow: 0 1px 2px #0000003d;
}

.firstSection {
  margin-top: 4.375em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 0;
}

.logoCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5em;
  height: 100%;
  background-color: #dead65;
}

.logoCont h1 {
  height: 100%;
  margin-top: .8em;
}

.bannerSvg {
  display: none;
  fill: #dead65;
}

.logomel {
  height: 85%;
  -ms-grid-column-align: end;
      justify-self: end;
  fill: white;
}

.menuButton button {
  border: none;
  font-size: 38px;
  background-color: transparent;
  padding: 0;
}

nav {
  position: fixed;
  right: calc( -100vw + 7.5em);
  top: 4.375em;
  z-index: 1;
  background-color: #f0ede9;
  height: 100%;
  text-transform: uppercase;
  -ms-grid-column-align: end;
      justify-self: end;
  width: calc(100vw - 7.5em);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.showNav {
  -webkit-transform: translateX(calc( -100vw + 7.5em));
      -ms-transform: translateX(calc( -100vw + 7.5em));
          transform: translateX(calc( -100vw + 7.5em));
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: right;
}

.menu li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 100%;
  font-size: 1.25em;
  padding: 0.6em 1.25em 0.6em 0;
}

.menu li a:hover {
  background-color: #dead65;
}

.menu .menu-separator {
  display: none;
}

.menu .currentNav {
  background-color: #dead65;
  font-weight: 500;
}

@media screen and (max-height: 350px) {
  nav {
    width: 10.625em;
  }
  .menu li a {
    font-size: 1.125em;
    padding: 0.66667em 0.66667em;
  }
}

@media screen and (min-width: 415px) {
  nav {
    right: -13.75em;
    width: 13.75em;
  }
  .showNav {
    -webkit-transform: translateX(-13.75em);
        -ms-transform: translateX(-13.75em);
            transform: translateX(-13.75em);
  }
}

@media screen and (min-width: 801px) {
  header {
    height: 6.25em;
  }
  .header {
    padding-left: 1.5em;
  }
  .firstSection {
    margin-top: 6.25em;
  }
  .logoCont {
    width: 10em;
    position: relative;
  }
  .bannerSvg {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1.5625em;
  }
  nav {
    position: static;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    width: unset;
    height: unset;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .menuButton {
    display: none;
  }
  .menu li {
    display: inline;
    font-weight: 400;
  }
  .menu li a {
    padding: 0.3125em;
    display: inline;
    font-size: 0.75em;
  }
  .menu li a:hover {
    background-color: unset;
    color: #dead65;
  }
  .menu .menu-separator {
    display: unset;
  }
  .menu .currentNav {
    background-color: unset;
    color: #dead65;
  }
  .showNav {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

h2 {
  margin-bottom: 0.3em;
}

strong {
  font-weight: 500;
}

.feuilles {
  display: none;
}

.logoCont {
  background-color: #872f39;
}

.bannerSvg {
  fill: #872f39;
}

.menu li a:hover, .menu .currentNav {
  background-color: #872f39;
  color: white;
}

@media screen and (min-width: 769px) {
  .menu li a:hover {
    background-color: unset;
    color: #872f39;
  }
  .menu .currentNav {
    background-color: unset;
    color: #872f39;
  }
}

.intro {
  height: calc(100vh - 4.375em);
}

.intro .wrapper {
  position: relative;
}

.introtext {
  position: absolute;
  width: 19.5em;
  bottom: 20%;
  right: 1.5em;
  color: white;
  text-align: right;
}

.introtext h2 {
  font-size: 3.75em;
  margin-bottom: .2em;
  font-family: 'Oleo Script', cursive;
  font-variant: normal;
}

.introtext p {
  text-align: right;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
  font-variant: small-caps;
  margin-bottom: 0.625em;
}

.introtext a {
  font-size: 1.5em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(238, 235, 230, 0.712);
  border: none;
  padding: 0.625em 1.66667em;
  margin-top: 1.25em;
  border-radius: 0.41667em;
  color: black;
  text-decoration: none;
}

.introtext a:hover {
  background-color: #eeebe6;
}

.introtext a:active {
  background-color: #a5a19b;
}

.salades {
  padding: 3.75em 0;
}

.salades h2 {
  font-size: 2.625em;
  line-height: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-weight: 300;
}

.image {
  width: 100%;
}

.image img {
  margin-top: 1.25em;
  width: 100%;
}

.permaculture {
  padding: 3.75em 0;
  background-image: url("../img/accueil/section_pattern.png");
}

.permaculture h2 {
  font-size: 2.625em;
  line-height: 0.8em;
  font-variant: small-caps;
  font-weight: 300;
}

.permaculture .image {
  width: 100%;
}

.citation {
  height: 12.5em;
  padding-top: 1.875em;
  position: relative;
}

.citation .paragraphsBox {
  position: absolute;
  bottom: -5.5em;
  left: 0;
  width: 100%;
  font-variant: small-caps;
  text-align: center;
  font-size: 1.25em;
  padding: 0.5em;
  margin: 0;
}

.citation .paragraphsBox p {
  margin: 0;
  font-variant: small-caps;
  text-align: center;
}

.propositions {
  padding: 7.5em 0 3.75em 0;
}

.propositions .flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propositions .flexBox .image {
  max-width: 25em;
}

.commPanier, .plusInfo {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0.9375em;
  margin-top: 0.625em;
  border-radius: 0.625em;
}

.commPanier span, .plusInfo span {
  vertical-align: middle;
  display: inline-block;
  line-height: 2.5;
}

.commPanier {
  color: white;
  background-color: #872f39;
}

.commPanier:hover {
  background-color: #ad3c49;
}

.commPanier:active {
  background-color: #612229;
}

.plusInfo {
  color: #872f39;
  background-color: white;
  border: 4px solid #872f39;
}

.plusInfo:hover {
  border-color: #ad3c49;
  color: #ad3c49;
}

.plusInfo:active {
  border-color: #612229;
  color: #612229;
}

.prop1, .prop2 {
  margin-bottom: 3.75em;
}

@media screen and (min-width: 725px) {
  .contFeuilles {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .feuilles {
    display: unset;
    position: absolute;
  }
  .salades .feuilles {
    top: 13.4375em;
    left: 51%;
    z-index: -1;
  }
  .permaculture .feuilles {
    top: -21.875em;
    left: 0;
    z-index: 2;
  }
  .propositions .feuilles {
    top: -9.375em;
    left: 35%;
  }
  .introtext {
    width: unset;
    bottom: 30%;
  }
  .introtext h2 {
    font-size: 5em;
  }
  .introtext p {
    font-size: 1.125em;
  }
  .salades {
    position: relative;
  }
  .salades h2 {
    text-align: right;
  }
  .salades .flexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .salades .flexBox .image {
    width: 28.125em;
  }
  .salades .flexBox .image img {
    margin-top: 0;
  }
  .salades .flexBox .paragraphsBox {
    width: 23.25em;
  }
  .salades .flexBox .paragraphsBox, .salades .flexBox .image {
    margin: 0 0.625em;
  }
  .permaculture h2 {
    text-align-last: left;
  }
  .permaculture .paragraphsBox {
    width: 37.5em;
  }
  .permaculture .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .permaculture .flexbox .paragraphsBox {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .permaculture .flexbox .image {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .permaculture .flexbox .image img {
    top: -28.125em;
    left: 0;
    position: absolute;
    width: 28.75em;
    opacity: 0.7;
  }
  .permaculture .flexbox .contFeuilles {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    height: 100px;
    width: unset;
  }
  .permaculture h2, .salades h2 {
    font-size: 5.25em;
    line-height: 0.8em;
  }
  .citation {
    height: 38.9375em;
  }
  .citation .paragraphsBox {
    width: unset;
    float: right;
    position: relative;
    top: 19em;
    text-align-last: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .citation .paragraphsBox p {
    font-size: 1.75em;
  }
  .propositions .flexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .propositions .flexBox .image {
    min-width: unset;
  }
  .prop1, .prop2, .prop3 {
    width: 25em;
  }
  .prop1, .prop3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prop1 p, .prop1 a, .prop3 p, .prop3 a {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .prop1 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .commPanier, .plusInfo {
    display: inline-block;
    width: 10.41667em;
    padding: 0.9375em, 2.5em;
  }
}

footer {
  -webkit-box-shadow: 0 -1px 2px #0000003d;
          box-shadow: 0 -1px 2px #0000003d;
  background-color: #f0ede9;
  padding: 0.9375em 0;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer p {
  display: inline-block;
  margin: 0;
}

.textFooter {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 0.75em;
}

.footButton {
  font-size: 1.5em;
  text-align: center;
}

.footButton a {
  color: black;
  margin-left: 0.4375em;
}

.footButton a:hover {
  color: #dead65;
}

@media screen and (max-width: 390px) {
  .textFooter {
    font-size: 0.625em;
  }
  .footButton {
    font-size: 1em;
  }
  .footButton a {
    margin-left: 0.625em;
  }
}

.footButton a:hover {
  color: #872f39;
}
/*# sourceMappingURL=index.css.map */