@import url("https://fonts.googleapis.com/css?family=Cantarell:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1.5em;
  height: 100%;
}

.espace {
  height: 500px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4.375em;
  background-color: #f0ede9;
  -webkit-box-shadow: 0 1px 2px #0000003d;
          box-shadow: 0 1px 2px #0000003d;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 0;
}

.logoCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5em;
  height: 100%;
  background-color: #dead65;
}

.logomel {
  height: 85%;
  -ms-grid-column-align: end;
      justify-self: end;
  fill: white;
}

.menuButton button {
  border: none;
  font-size: 38px;
  background-color: transparent;
}

nav {
  position: fixed;
  right: -13.75em;
  top: 4.375em;
  z-index: 1;
  background-color: #f0ede9;
  height: 100%;
  font-variant: small-caps;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 13.75em;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.showNav {
  -webkit-transform: translateX(-13.75em);
          transform: translateX(-13.75em);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: right;
}

.menu li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 100%;
  font-size: 1.625em;
  padding: 0.46154em 0.46154em;
}

.menu li a:hover {
  background-color: #dead65;
}

.menu .menu-separator {
  display: none;
}

@media screen and (max-height: 350px) {
  nav {
    width: 10.625em;
  }
  .menu li a {
    font-size: 1.125em;
    padding: 0.66667em 0.66667em;
  }
}

@media screen and (min-width: 737px) {
  header {
    height: 6.25em;
  }
  .logoCont {
    width: 10em;
  }
  nav {
    position: static;
    -webkit-transform: unset;
            transform: unset;
    width: unset;
    height: unset;
    -webkit-transition: none;
    transition: none;
  }
  .menuButton {
    display: none;
  }
  .menu li {
    display: inline;
  }
  .menu li a {
    display: inline;
    font-size: 14px;
  }
  .menu li a:hover {
    background-color: unset;
    color: #dead65;
  }
  .menu .menu-separator {
    display: unset;
  }
  .showNav {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
}

.intro {
  background-image: url(../img/img_wireframe.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.imgintro {
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.imgintro img {
  height: 100%;
  width: 100%;
}

.imgintro .introtext {
  position: absolute;
  top: 30%;
  right: 100px;
  width: 480px;
}

.imgintro .introtext h1 {
  margin-bottom: 10px;
}

.imgintro .introtext p {
  margin: 0;
}

.article1 {
  margin-top: 90px;
  margin-bottom: 45px;
}

.article1 .artcl {
  position: relative;
}

.article1 .artcl .gridTxts {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 510px 175px 1fr;
      grid-template-columns: 510px 175px 1fr;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
      grid-template-areas: ".    title   title" ".    .       para";
}

.article1 .artcl .gridTxts h2 {
  margin: 15px 0 0 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

.article1 .artcl .gridTxts p {
  margin: 0;
  display: block;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: para;
}

.zoneImg {
  width: 567px;
  height: 392px;
}

.zoneImg img {
  height: 100%;
  width: 100%;
}

.article2 {
  margin-top: 45px;
}

.article2 .artcl {
  position: relative;
}

.article2 .artcl .imgRight {
  float: right;
}

.article2 .artcl .gridTxts {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 570px 120px 1fr;
      grid-template-columns: 570px 120px 1fr;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
      grid-template-areas: "title   title   ." "para    .       .";
}

.article2 .artcl .gridTxts h2 {
  margin: 15px 0 0 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

.article2 .artcl .gridTxts p {
  margin: 0;
  display: block;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: para;
  text-align: right;
}

.article2 .artcl:after {
  display: block;
  content: "";
  clear: both;
}

footer {
  -webkit-box-shadow: 0 -1px 2px #0000003d;
          box-shadow: 0 -1px 2px #0000003d;
  height: 75px;
  margin-top: 50px;
  background-color: #f0ede9;
  padding-top: 1.875em;
}

.textFooter {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 0.75em;
}
/*# sourceMappingURL=index.css.map */