footer{
    box-shadow: 0 -1px 2px #0000003d;
    // height: 75px;

    margin-top: 50px; 

    background-color: #f0ede9;

    padding: em(15) 0;

    .wrapper{
        display: flex;
        // flex-direction: row;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap;
    }

    p{
        display: inline-block;
        margin: 0;
    }
}

.textFooter{
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    font-weight: 200;
    font-size: em(12);
}

.footButton{
    font-size: em(24);
    text-align: center;
    a{
        color: black;
        margin-left: em(7);
        &:hover{
            color: #dead65
        }
    }
}

@media screen and (max-width: 390px){
    .textFooter{
        font-size: em(10);
    }
    .footButton{
        font-size: em(16);
        a{
            margin-left: em(10);
        }
    }
}