footer{
    box-shadow: 0 -1px 2px #0000003d;
    height: 75px;

    margin-top: 50px; 

    background-color: #f0ede9;

    padding-top: em(30);
}

.textFooter{
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    font-weight: 200;
    font-size: em(12);
}