// Conversion des pixels en EM
$browser-em-context: 16; // Default
$browser-perc-context: 1200;

@function em($pixels, $context: $browser-em-context) {
  @return $pixels/$context+0em;
}

@function perc($pixels, $context: $browser-perc-context) {
    @return ($pixels/$context)*100+0%;
}

$theme-accueil: #872f39;
$theme-accueil-border: darken($theme-accueil, 20%);

$theme-contact: #dead65;
$theme-contact-border: darken($theme-contact, 20%);