@import 'functions';

// Header
header{
	position: fixed;
	top: 0; left: 0;

	width: 100%;
	height: em(70);
	z-index: 10; 

	background-color: #f0ede9;
}

// Conteneur du Header
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 100%;
}

// Conteneur du logo
.logoCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: em(120);
    height: 100%;
    background-color: #dead65;
}

// Image du logo
.logomel{
	height: 85%;
	justify-self: end;
	fill: white;
}

// Boutton menu burger
.menuButton{ 
	button{
		border: none;
		font-size: 38px;
		background-color: transparent;
	}
}

// Conteneur du menu
nav{
	position: fixed; 
	right: 0; top: em(70);
	background-color: #f0ede9;
	height: 100%;

	justify-self: end;
	
	width: em(220);
	transform: translateX(em(220));
	transition: transform 1s;
}

.showNav{
	transform: translateX(em(0));
	transition: transform 1s;
}

// Menu
.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		text-align: right;
		a{
			text-decoration: none;
			color: #000;
			// background-color: red;
			display: inline-block;
			width: 100%;
			font-size: em(26);
			padding: em(10,26) em(10,26);
		}
		a:hover{
			background-color: #dead65;
		}
	}
	.menu-separator{
		display: none;
	}
}

@media screen and (min-width: 768px){
	header{
		height: em(100);
	}
	.logoCont{
		width: em(160);
	}
	nav{
		position: static;

		transform: unset;
		width: unset;
		height: unset;
	}
	.menuButton{
		display: none;
	}
	.menu{
		li{
			display: inline;
			a{
				display: inline;
				font-size: 14px;
			}
		}
		.menu-separator{
			display: unset;
		}
	}
}


// header{
//     position: fixed;
//     top: 0; left: 0;

//     width: 100%;
//     height: em(100);
//     z-index: 10; 

//     background-color: #f0ede9;
// }

// .header{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 100%;

//     .logoCont{
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         width: em(160);
//         height: 100%;
//         background-color: #dead65;
//         .logomel{
//             height: em(75);
//             justify-self: end;
//             fill: white;
//             // grid-area: a;
//         }
//     }
//     nav{
//         justify-self: end;
//         .menu { //ul
//             margin: 0;
//             padding: 0;
//             list-style: none;
//             // grid-area: b;

//             li{
//                 display: inline;
//                 margin-right: 5px;

//                 font-family: 'Montserrat', sans-serif;
//                 font-weight: 300;
//                 a{
//                     text-decoration: none;
//                     color: #000;
//                     font-size: 14px;
//                 }
//                 a:hover{
//                     color: #dead65;
//                 }
//             }
//         }
//     }
// }

// .firstSection{
//     margin-top: em(100);
// } 