@import 'functions';

// Header
header{
	position: fixed;
	top: 0; left: 0;
	z-index: 100;

	width: 100%;
	height: em(70);

	background-color: #f0ede9;
	box-shadow: 0 1px 2px #0000003d;

}

// Conteneur du Header
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 100%;
	padding-left: 0;
}

// Conteneur du logo
.logoCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: em(120);
    height: 100%;
    background-color: #dead65;
}

// Image du logo
.logomel{
	height: 85%;
	justify-self: end;
	fill: white;
}

// Boutton menu burger
.menuButton{ 
	button{
		border: none;
		font-size: 38px;
		background-color: transparent;
	}
}

// Conteneur du menu
nav{
	position: fixed; 
	right: em(-220); top: em(70);
	z-index: 1;

	background-color: #f0ede9;
	height: 100%;
	font-variant: small-caps;

	justify-self: end;
	
	width: em(220);
	transition: transform 0.5s;
}

.showNav{
	transform: translateX(em(-220));
	transition: transform 0.5s;
}

// Menu
.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		text-align: right;
		a{
			text-decoration: none;
			color: #000;
			// background-color: red;
			display: inline-block;
			width: 100%;
			font-size: em(26);
			padding: em(15,26) em(15,26);
		}
		a:hover{
			background-color: #dead65;
		}
	}
	.menu-separator{
		display: none;
	}
}

@media screen and (min-width: 768px){
	header{
		height: em(100);
	}
	.logoCont{
		width: em(160);
	}
	nav{
		position: static;

		transform: unset;
		width: unset;
		height: unset;

		transition: none;
	}
	.menuButton{
		display: none;
	}
	.menu{
		li{
			display: inline;
			a{
				display: inline;
				font-size: 14px;
			}
			a:hover{
				background-color: unset;
				color: #dead65;
			}
		}
		.menu-separator{
			display: unset;
		}
	}
	.showNav{
		transform: none;
		transition: none;
	}
}