@import 'functions';

// Header
header{
	position: fixed;
	top: 0; left: 0;
	z-index: 100;

	width: 100%;
	height: em(70);

	background-color: #f0ede9;
	box-shadow: 0 1px 2px #0000003d;
}

//Ajout d'un espacement pour la première section qui précède le header
.firstSection{
	margin-top: em(70)
}

// Conteneur du Header
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 100%;
	padding-left: 0;
}

// Conteneur du logo
.logoCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: em(120);
    height: 100%;
	background-color: #dead65;
	h1{
		height: 100%;
		margin-top: .8em;

	}
}

// Bas du fond du logo (forme de bannière SVG, invisible en mode mobile)
.bannerSvg{
	display: none;
	fill:#dead65;
}

// Image du logo
.logomel{
	height: 85%;
	justify-self: end;
	fill: white;
}

// Boutton menu burger
.menuButton{ 
	button{
		border: none;
		font-size: 38px;
		background-color: transparent;
		padding: 0;
	}
}

// Conteneur du menu
nav{
	position: fixed; 
	right: calc( -100vw + 7.5em); top: em(70);
	z-index: 1;

	background-color: #f0ede9;
	height: 100%;
	// font-variant: small-caps;
	text-transform: uppercase;

	justify-self: end;
	
	// width: em(220);
	width: calc(100vw - 7.5em);

	transition: transform 0.5s;
}

.showNav{
	transform: translateX(calc( -100vw + 7.5em));
	transition: transform 0.5s;
}

// Menu
.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		text-align: right;
		a{
			text-decoration: none;
			color: #000;
			// background-color: red;
			display: inline-block;
			width: 100%;
			font-size: em(20);
			padding: em(12,20) em(25,20) em(12,20) 0;
			&:hover{
				background-color: #dead65;
			}
		}
	}
	.menu-separator{
		display: none;
	}
	.currentNav{
		background-color: #dead65;
		font-weight: 500;
		
		}
}

// Réduir la taille de la police du menu latéral pour le mode portrait
@media screen and (max-height: 350px){
	nav{
		width: em(170);
	}
	.menu li a{
		font-size: em(18);
		padding: em(12,18) em(12,18);
	}
}

// Restreindre l'espace utilisé pour le menu latéral pour les écrans plus large
@media screen and (min-width: 415px){
	nav{
		right: em(-220);
		width: em(220);
	}
	.showNav{
		transform: translateX(em(-220));
	}

}

// Mode bureau
@media screen and (min-width: 801px){
	header{
		height: em(100);
	}
	.header{
		padding-left: em(24);
	}
	.firstSection{
		margin-top: em(100)
	}
	.logoCont{
		width: em(160);
		position: relative;
	}
	.bannerSvg{
		display: block;
		position: absolute;
		left:0; bottom: em(-25);
	}
	nav{
		position: static;

		transform: unset;
		width: unset;
		height: unset;

		transition: none;
	}
	.menuButton{
		display: none;
	}
	.menu{
		li{
			display: inline;
			font-weight: 400;
			a{	
				padding: em(5);
				display: inline;
				font-size: em(12);
			}
			a:hover{
				background-color: unset;
				color: #dead65;
			}
		}
		.menu-separator{
			display: unset;
		}
		.currentNav{
			background-color: unset;
			color: #dead65;
			// text-decoration: underline;
		}
	}
	.showNav{
		transform: none;
		transition: none;
	}


}