@import "css-reset";
@import "html";
@import "header";
@import "functions";

// ==============================================================
// Couleur du header
// ==============================================================

.logoCont{
    background-color: $theme-commu;
}

.bannerSvg{
    fill: $theme-commu;
}

.menu {
    .currentNav{
		background-color: $theme-commu;
		color: white;
    }
}

@media screen and (min-width: 769px){
    .menu{
        .currentNav{
			background-color: unset;
            color: $theme-commu;
        }
    }
}

#backToTop{
	background-color: $theme-commu;
}

// ==============================================================
// Propriété général
// ==============================================================

img{
	width: 100%;
}

.imgCont{
	margin-top: 3em;
	min-width: 100%;
}

.intro{
	height: em(220);
	color: white;

	.wrapper{
		position: relative;
	} 
	h2{
		position: absolute;
		bottom: .2em;
		left: .5em;
	}
}

.histoire{
	padding: 4em 0;
}

.imageFond{
	height: em(240)
}

.assiette{
	padding-top: em(40);
	padding-bottom: em(40);
	background-color: #f2efed;
}

.recompense{
	padding-top: em(40);
	padding-bottom: em(40);

	.svgCont{
		width: em(75);
		text-align: center;
		margin: 0 auto;
		margin-bottom: em(20);
	}
}

// ==============================================================
// Version bureau
// ==============================================================

// @media screen and (min-width: 801px){
//     .parallax-slider[src="img/commu/bg1.jpg"]{
//         top: 80px;
//     }
// }   

@media screen and (min-width: 1180px){
    .parallax-slider[src="img/commu/bg1.jpg"]{
        top: 4vw;
    }
}

@media screen and (min-width: 725px){
	.intro{
		height: em(500);
		background-position: top; 

		h2{
			left: .3em;
			bottom: .5em;
		}
	}

	.imgCont{
		margin-top: 0;
		min-width: unset;
	}
	.histoire {
		padding: 8em 0;
		.wrapper{
			display: grid;
			grid-column-gap: 2em;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "img txt";

		}
		.txtCont{
			grid-area: txt;
		}
		.imgCont{
			grid-area: img;
			width: 100%;
		}
	}
	.imageFond{
		height: 70vh;
		min-height: em(455);
		.wrapper{
			position: relative;
		}
	}

	.secWrapper{
		position: absolute;
		bottom: 0; left: 0;

		background-color: rgba(#fff, .6);
		width: em(605);
		height: em(1150);
		padding: 2em;
	}

	.bigSpace{
		padding-bottom: 7em;
	}

	.assiette{
		padding: 0;
		height: em(720);
		.wrapper{
			position: relative;
		}
		.imgCont{
			position: absolute;
			right: 0; bottom: 4em;


			width: em(680);
		}
	}

	.recompense{
		.wrapper{
			display: grid;
			grid-template-columns: .65fr 1.45fr;
			grid-template-rows: em(106) auto;
			grid-column-gap: 2em;
			grid-row-gap: 4em;

			grid-template-areas: 
				"svg	title"
				"img	para";
		}

		.svgCont{
			grid-area: svg;
		}
		h2{
			grid-area: title;
		}
		.txtCont{
			grid-area: para;
		}
		.imgCont{
			grid-area: img;
		}
	}
}

@import 'footer';

.footButton a:hover{
	color: $theme-commu;
}