@import "css-reset";
@import "html";
@import "header";
@import "functions";


// ==============================================================
// Titre avec fond paralaxe
// ==============================================================
.intro{
	margin-top: em(70);
	padding-bottom: em(20);

    height: em(150);

    background-image: url(../img/contact/bg_1.jpg);
    background-size: cover;
	background-position-y: center;
	
	h2{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		color: white;
		font-size: em(24);
	}
}

.flexIntro{
	display: flex;
	align-items: flex-end;
}

// ==============================================================
// Coordonées du potager
// ==============================================================

.coords{
	padding-top: em(60);
}

.flexCoords{
	display: flex;
	flex-direction: column;
	align-items: center;
	

	article{
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;

		min-height: em(190);
		.picto{
			background-color: #dead65;
			padding: em(15);
			border-radius: 50%;

			height: 80px; width: 80px;

			display: flex;
			align-items: center;
			justify-content: space-around;
		}
		h3{
			font-size: em(18);
			margin: em(15,18) 0;
			font-weight: 500;
		}
		p{
			font-weight: 300;
		}
	}
}

@import 'footer';