@import "css-reset";
@import "html";
@import "header";
@import "functions";


// ==============================================================
// Titre avec fond paralaxe
// ==============================================================
.intro{
	padding-bottom: em(20);

    height: em(200);

    // background-image: url(../img/contact/bg_1.jpg);
    background-size: cover;
	background-position-y: center;
	
	h2{
		font-family: 'Montserrat', sans-serif;
		font-variant: small-caps;
		font-weight: 500;
		color: white;
		font-size: em(35);
	}
}

.flexIntro{
	display: flex;
	align-items: flex-end;
}

// ==============================================================
// Coordonées du potager
// ==============================================================

.coords{
	padding: em(120) 0;
}

.flexCoords{
	display: flex;
	flex-direction: column;
	align-items: center;

	a{
		color: black;
		text-decoration: none;
		&:hover > .coord .picto{
			animation: butHover 0.5s;
		}
	}
}

@keyframes butHover {
	0%		{transform: rotate(0deg);}
	25%		{transform: rotate(6deg);}
	50%		{transform: rotate(-6deg);}
	75%		{transform: rotate(6deg);}
	100%	{transform: rotate(0deg);}
}

article{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: em(190);
	max-width: em(220);

	text-align: center;
	.picto{
		// background-color: $theme-contact;
		padding: em(15);
		border-radius: 50%;

		height: em(80); width: em(80);

		display: flex;
		align-items: center;
		justify-content: space-around;
		img{
			width: em(80);
		}
	}
	h3{
		font-size: em(18);
		margin: em(15,18) 0;
		font-weight: 500;
	}
	p{
		font-weight: 300;
		padding-bottom: em(10);
	}
}

// ==============================================================
// Formulaire de contact
// ==============================================================

.form{
	padding-bottom: em(120) ;

	h3{
		font-family: 'Oleo Script', cursive;
		text-align: center;
		font-size: em(28);

		padding-bottom: em(20,28);
	}
}

.field{
	position: relative;

	margin-bottom: em(22);

	label{
		position: absolute;
		left: em(5); top: em(8);
		padding: em(5) em(5) 0 em(5);

		color: #b2b2b2;

		transition: 
			transform 0.1s,
			font-size 0.1s;
	}

	input{
		font-size: em(16);
		font-family: 'Montserrat', sans-serif;

		height: em(40);
		padding-left: em(10);
	}

	textarea{
		font-size: em(16);
		font-family: 'Montserrat', sans-serif;

		padding: em(7);
		height: em(226);

		resize: vertical;
	}

	input, textarea{
		width: 100%;
		border: em(2) solid #b2b2b2;
		border-radius: em(4);
		box-shadow: none;

		&:hover{
			border-color: $theme-contact-border;
			+label{
				color: black;
			}
		}

		&:focus{
			border-color: $theme-contact;
			outline: none;
			+label{
				color: black;
				transform: translateY(em(-24));
				background-color: white;
				font-size: em(12);

				transition: 
					transform 0.1s,
					font-size 0.1s;
			}
		}
		&:valid + label{
			color: black;
			transform: translateY(em(-24));
			font-size: em(12);
			background-color: white;

			transition: 
				transform 0.1s,
				font-size 0.1s;
		}
		// &:invalid{
		// 	border-color: red;
		// 	+label{
		// 		color: black;
		// 		transform: translateY(em(-22));
		// 		background-color: white;
		// 	}
		// }
	}
}

.submit{
	font-size: em(24);
	font-family: 'Montserrat', sans-serif;
	font-variant: small-caps;
	color: white;

	border: none;
	background-color: $theme-contact;
	box-shadow: 0 em(4,24) 0 $theme-contact-border;

	padding: em(15,24) em(25,24);
	border-radius: em(5,24);

	&:hover{
		background-color: lighten($theme-contact,10%);
		box-shadow: 0 em(4,24) 0 lighten($theme-contact-border,10%);
	}

	&:active{
		background-color: darken($theme-contact,10%);
		box-shadow: 0 em(4,24) 0 darken($theme-contact-border,10%); 
	}
}

// ==============================================================
// Message au dessus de la carte
// ==============================================================

.contactMsg{
	background-color: #f0ede9;
	padding-top: em(40);
	padding-bottom: em(40);
	.flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.retrouvez p{
		font-size: em(20);
		font-variant: small-caps;
		text-align: center;
	}
	.socButtons img{
		margin: 1em .5em;
	}
}

// ==============================================================
// Fond avec la carte dessinée
// ==============================================================

.mapBg{
	height: em(200);
	// background-image: url(../img/contact/bg_2.jpg);
	background-position-x: center;
	background-size: cover;
}


// ==============================================================
// Version PC
// ==============================================================

@media screen and (min-width: 725px){
	// ==============================================================
	// Titre avec fond parallaxe
	// ==============================================================
	.intro{
		height: calc(100vh - 27em);
		// height: em(315);
		h2{
			font-size: em(84);
		}
	}

	// ==============================================================
	// Coordonées du potager
	// ==============================================================

	.flexCoords{
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	// ==============================================================
	// Formulaire de contact
	// ==============================================================

	.formContainer{
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-column-gap: em(12);

		margin-bottom: em(22);
	}
	.fieldsGroup{
		flex: 1;
	}

	.field:last-child{
		margin-bottom: 0;
	}

	.message, .message textarea {
		height: 100%;
	}

	.submit{
		padding: em(5,24) em(15,24);
	}

	// ==============================================================
	// Fond avec la carte dessinée
	// ==============================================================

	.mapBg{
		height: em(540);
	}

	// ==============================================================
	// Message en dessous de la carte
	// ==============================================================

	.msgCont{
		max-width: em(760);
		padding: em(50) em(75);
		p{
			font-size: em(24);
		}
	}
}

@import 'footer';