@import "html";
@import "header";
@import "functions";

// ==============================================================
// Couleur du header
// ==============================================================

.logoCont{
    background-color: $theme-accueil;
}

.bannerSvg{
    fill: $theme-accueil;
}

.menu {
    li a:hover, .currentNav{
		background-color: $theme-accueil;
		color: white;
    }
}

@media screen and (min-width: 769px){
    .menu{
        li a:hover{
            background-color: unset;
            color: $theme-accueil;
        }
        .currentNav{
			background-color: unset;
            color: $theme-accueil;
        }
    }
}

// ==============================================================
// Intro
// ==============================================================

.intro{
    height: calc(100vh - 4.375em);
}

.introtext{
	position: absolute;
	width: em(312);
	bottom: 20%;
	right: em(24);
	color: white;
	text-align: right;
    h2{
		font-size: em(36);
		margin-bottom: em(10,36);
		font-family: 'Oleo Script', cursive;
    }
    p{
		font-weight: 700;
		margin: 0;
		font-variant: small-caps;
		margin-bottom: em(10);
	}
	button{
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
		height: em(55); width: em(150);
		background-color: rgba(238, 235, 230, 0.712);
		border: none;
	}
}

// ==============================================================
// Raconte moi des salades
// ==============================================================



.salades{
	padding: em(60) 0;
	h2{
		font-size: em(36);
		font-family: 'Montserrat', sans-serif;
		font-variant: small-caps;
		font-weight: 300;
	}
}

.image{
	width: 100%;
	img{
		width: 100%;
	}
}

// ==============================================================
// La permaculture
// ==============================================================

.permaculture{
	padding: em(60) 0;

	background-image: url("../img/accueil/section_pattern.png")
}

// ==============================================================
// Citation
// ==============================================================

.citation{
	height: em(200);
	padding-top: em(30);
	position: relative;
	p{
		position: absolute;
		bottom: em(-73);
		left:0;

		color: white;
		font-variant: small-caps;
		text-align: center;

		width: 100%;

		background-color: rgba(black,.6);
		padding: em(15,30);
		margin: 0;
	}
}

// ==============================================================
// Nous vous proposons...
// ==============================================================

.propositions{
	padding: em(120) 0 em(60) 0;
}
.commPanier, .plusInfo{
	font-size: em(24);
	font-weight: 300;
	text-transform: uppercase;

	text-decoration: none;
	text-align: center;

	display: inline-block;
	width: 100%; height: 88px; 
	vertical-align: middle;
	padding: em(8);

	span{
		vertical-align: middle;
		display: inline-block;
		line-height: 2.5;
	}
}

.commPanier{
	color: white;
	background-color: $theme-accueil;

	&:hover{
		background-color: lighten($theme-accueil, 10%);
	}

	&:active{
		background-color: darken($theme-accueil, 10%);
	}
}

.plusInfo{
	color: $theme-accueil;
	background-color: white;
	border: 4px solid $theme-accueil;

	&:hover{
		border-color: lighten($theme-accueil, 10%);
		color: lighten($theme-accueil, 10%);
	}

	&:active{
		border-color: darken($theme-accueil, 10%);
		color: darken($theme-accueil, 10%);
	}
}

.prop1, .prop2{
	margin-bottom: em(60);
}

@import 'footer';