@import "css-reset";
@import "html";
@import "header";
@import "functions";


h2{
    font-size: em(40);
    font-variant: small-caps;
    font-weight: 300;
    line-height: 0.9em;
    strong{
        font-weight: 500;
    }
}


// ==============================================================
// Couleur du header
// ==============================================================

.logoCont{
    background-color: $theme-produits;
}

.bannerSvg{
    fill: $theme-produits;
}

.menu {
    li a:hover, .currentNav{
		background-color: $theme-produits;
		color: white;
    }
}

@media screen and (min-width: 769px){
    .menu{
        li a:hover{
            background-color: unset;
            color: $theme-produits;
        }
        .currentNav{
			background-color: unset;
            color: $theme-produits;
        }
    }
}

// ==============================================================
// Intro
// ==============================================================

.intro{
    height: em(200);
    .wrapper{ 
        position: relative;
    }
    h2{
        position: absolute;
        bottom: em(5,40);
        color: white;
    }
}

.introSuite{
    z-index: 4;
    text-align: center;
    p{
        font-size: em(20);
        font-variant: small-caps;
        margin: em(15,20);
    }
    img{
        width: em(135); height: em(135);
        z-index: 10;
    }
}

// ==============================================================
// Paniers
// ==============================================================

.paniers{
    z-index: -1;
    position: relative;
    top: em(-25);

    background-color: #f9f7f4;
    padding-top: em(40);
    background-image: url(../img/nos_produits/section-cut-1-sml.png);
    background-repeat: no-repeat;
    background-position-x: center;

    .panier{
        margin-bottom: em(50);
    }

    h3{
        font-size: em(32);
        font-variant: small-caps;
        font-weight: 300;

        margin-bottom: em(10,32);
    }

    .panDesc{
        margin-bottom: em(20);
    }

    .panPers{
        margin-bottom: em(15);
    }

    .panPrix{
        margin-top: em(2,26);
        font-size: em(26);
        font-weight: 500;
    }

    .panPers, .panPrix{
        color: #a69a54;
    }
}

// ==============================================================
// Paniers
// ==============================================================

.formules{
    padding: em(15) 0;
    h2{
        margin-bottom: 1.2em;
    }
    article{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: em(30) 0;
        .imgCont{
            height: em(68);
            width: em(60);
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            margin-right: em(10);
            img{
                width: 100%;
            }
        }
    }
}


@import 'footer';