@import "css-reset";
@import "html";
@import "header";
@import "functions";

p{
    line-height: 1.4em;
}

h2{
	font-size: em(40);
    font-variant: small-caps;
    font-weight: 300;
    line-height: 0.9em;
}

strong{
	font-weight: 500;
}


h3{

}


// ==============================================================
// Couleur du header
// ==============================================================

.logoCont{
    background-color: $theme-activites;
}

.bannerSvg{
    fill: $theme-activites;
}

.menu {
    li a:hover, .currentNav{
		background-color: $theme-activites;
		color: white;
    }
}

@media screen and (min-width: 769px){
    .menu{
        li a:hover{
            background-color: unset;
            color: $theme-activites;
        }
        .currentNav{
			background-color: unset;
            color: $theme-activites;
        }
    }
}

// ==============================================================
// Intro
// ==============================================================

.intro{
	height: calc(100vh - 4.375em);
	.wrapper{
		position: relative; 
	}
	h2{
        position: absolute;
        bottom: em(20,40);
        color: white;
    }
}

// ==============================================================
// Partageons notre savoir
// ==============================================================

.imgCont{
	width: 80px;
}







@media screen and (min-width: 769px){
	.intro{
		height: calc(100vh - 4.375em)
	}
}


@import 'footer';