@import "html";
@import "header";
@import "functions";

h2{
    font-size: em(40);
    font-variant: small-caps;
    font-weight: 300;
    line-height: 0.9em;
    strong{
        font-weight: 500;
    }
}

.intro{
    height: em(200);
    .wrapper{ 
        position: relative;
    }
    h2{
        position: absolute;
        bottom: em(5,40);
        color: white;
    }
}

.introSuite{
    text-align: center;
    p{
        font-size: em(18);
        font-variant: small-caps;
    }
    img{
        width: em(135); height: em(135);
    }
}

@import 'footer';